{% include "header" %}
<body class="g-sidenav-show  bg-gray-100">
{% include "nav" %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
{% include "top-nav" %}
<div class="container-fluid py-2">
{% block content %}
{% endblock content %}
{% include "footer" %}